@import url(./fontfaces.css);
@import url(./effects.css);

:root {
    --green_game: #00b800;
  }


*{
    box-sizing: border-box;
    font-family: 'invasion';
}

html, body{
    margin : 0;
    padding : 0;
    text-align: center;
    background: black;
    color: var(--green_game);
    font-size: 100%;

}

body > #root > div {
    height: 100vh;
    width: 100%;
}

.main{
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100%;
}

.main-container{
    font-size: 1.25rem;
    border: 1px solid var(--green_game);
    border-width: 4px;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container-title{
    margin-top: -3rem;
    background: black;
    width: 82%;
    font-size: 3rem;
}

h1{
    font-size: 3rem;
}

textarea{
    width: 95%;
    height: 200px;
    background-color: var(--green_game);
    outline: none;
    font-size: 1.25rem;
    padding: 10px;
    border: 1px solid black
}

textarea:disabled{
    background-color: grey;
}

button{
    padding: 15px;
    font-size: 1.8rem;
    background-color: var(--green_game);
    border: 1px solid black;
    text-transform: uppercase;
    cursor: pointer;
}

button:disabled:after{
    cursor: not-allowed;
    animation-play-state: paused;
}

@media (max-width: 600px)
{
    html, body{
        font-size: 70%;
    }
}
