@import url(./fontfaces.css);
@import url(./effects.css);

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom values */

:root {
  --clr-primary: #00ff00;
  --clr-secondary: #585958;
  --clr-background: #000;

  --ff-primary: 'retrograming';
  --ff-secondary: 'invasion';

  --fs-h1: 2rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.2rem;
  --fs-body: 1.125rem;
}

/* Typography */

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

/* General Styles */

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: var(--clr-background);
  color: var(--clr-primary);
  font-family: 'retrogaming';
  font-size: var(--fs-body);
  height: 100%;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: none;
}

/* Main containers */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  max-width: 800px;
  width: 70%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
}

/* Main container header */

.main-container-header {
  position: relative;
}

.main-container-header-logo {
  margin: 0 auto;
  width: 50%;
}

.main-container-header-logo > img {
  max-width: 100%;
  height: auto;
  image-rendering: pixelated;
}

.main-container-header-volume {
  position: absolute;
  right: 0;
  bottom: 5px;
}

/* Main container separator */

.main-container-hr {
  position: absolute;
  border: none;
  right: 0;
  height: 2px;
  width: 100vw;
  margin-top: 15px;
  background-image: linear-gradient(
    to right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
}

/* Main container body */

.main-container-body {
  margin-top: 2em;
}

.main-container-body-textarea {
  width: 100%;
  height: 100px;
  background-color: var(--clr-primary);
  outline: none;
  font-size: 1.25rem;
  padding: 10px;
  border: 2px solid;
  color:
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
}

.main-container-body-textarea:disabled {
  background-color: var(--clr-secondary);
  background-color: black;
}

.main-container-body-button {
  padding: 15px;
  font-size: 1.8rem;
  background-color: var(--clr-primary);
  border: 1px solid black;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'invasion';
  -webkit-font-smoothing: auto;
}

.main-container-body-textarea:disabled:after {
  cursor: not-allowed;
  animation-play-state: paused;
}

/* Media Querys */

@media (max-width: 600px) {
  .main-container-header-logo {
    width: 75%;
  }

  .main-container {
    width: 90%;
  }

  :root {
    --fs-h1: 1.3rem;
    --fs-h2: 1rem;
    --fs-h3: 0.8rem;
    --fs-body: 0.75rem;
  }
}
