@import url(./fonts/fontfaces.css);

html, body{
    margin : 0;
    padding : 0;
    text-align: center;
    background: black;
    color: #00b800;
    font-family: 'astron_boy';
    font-size: 100%
}

.main-container{
    font-size: 2rem;
}