@import url(./fonts/fontfaces.css);

:root {
    --green_game: #00b800;
  }

*{
    box-sizing: border-box;
    font-family: 'invasion';
}

html, body{
    margin : 0;
    padding : 0;
    text-align: center;
    background: black;
    color: var(--green_game);
    font-size: 100%;
}

.main-container{
    font-size: 1.25rem;
}

h1{
    font-size: 3rem;
}

textarea{
    width: 95%;
    height: 250px;
    background-color: var(--green_game);
    outline: none;
    font-size: 1.25rem;
    padding: 10px;
    border: 1px solid black
}

textarea:disabled{
    background-color: grey;
}

button{
    padding: 12px;
    font-size: 1.5rem;
    background-color: var(--green_game);
    border: 1px solid black;
    text-transform: uppercase;
}

button:disabled{
    cursor: not-allowed;
}